@import 'src/styles/variables';

.this_day_info {
  position: relative;

  padding: 40px;
  max-width: 750px;
  width: 100%;

  background-color: var(--components-bg-default);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.item {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .indicator,
  .indicator_name {
    margin-right: 20px;
  }

  .indicator {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    box-shadow: 1px 4px 10px -1px rgba(71,147,255,0.2);
    border-radius: 50%;
  }

  .indicator_name,
  .indicator_value {
    font-size: 14px;
  }

  .indicator_name {
    color: $base-color;
  }

  .indicator_value {
    color: var(--text-color-default);
  }
}

.cloud_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}


@media (max-width: $size-sm) {
  .this_day_info {
    overflow: hidden;

    padding: 40px 20px;
  }

  .item {
    .indicator_name {
      color: $light-background;
    }
  }
}