$light-background: #fff;
$primary_color: #4793ff;

$dark-color: #fff;
$light-color: #333;
$base-color: #939cb0;

$border-radius: 20px;
$box-shadow: 2px 5px 25px -3px rgba(180,180,180,0.25);

$body-bg-dark: #0d1117;
$body-bg-light: #fff;

$components-bg-dark: #4f4f4f;
$components-bg-light: #fff;

$card-bg-light: rgba(71,147,255,.2);
$card-bg-dark: #2e3035;

$card-box-shadow-light: 0 3px 20px rgba(147,144,144,0.28);
$card-box-shadow-dark: 0 3px 20px rgba(5,5,5,0.28);

$scrollbar-bg: rgba(224, 224, 224, 0.28);
$scrollbar-shadow-light: inset 0 0 6px rgba(0, 0, 0, 0.3);
$scrollbar-shadow-dark: inset 0 0 20px rgba(255, 255, 255, 0.3);

// variables css
:root {
  // body bg
  --body-bg-dark: #{$body-bg-dark};
  --body-bg-light: #{$body-bg-light};
  --body-bg-default: var(#{--body-bg-light});

  // components bg
  --components-bg-dark: #{$components-bg-dark};
  --components-bg-light: #{$components-bg-light};
  --components-bg-default: var(#{--components-bg-light});

  // card bg
  --card-bg-dark: #{$card-bg-dark};
  --card-bg-light: #{$card-bg-light};
  --card-bg-default: var(#{--card-bg-light});

  // card shadow
  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(#{--card-shadow-light});

  // text
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-light});

  // scroll
  --scroll-thumb-shadow-light: #{$scrollbar-shadow-light};
  --scroll-thumb-shadow-dark: #{$scrollbar-shadow-dark};
  --scroll-thumb-shadow-default: var(#{--scroll-thumb-shadow-light}) ;
}