@import "src/styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

@media (max-width: $size-md) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    & > div {
      margin-bottom: 20px;
    }
  }
}